:root {
  --color-fondo: #F4EDE4;
  --color-primario: #8D6E63;
  --color-secundario: #D7CCC8;
  --color-acento: #A1887F;
  --color-texto: #4E342E;
}
body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-fondo);
  color: var(--color-texto);
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0;
  width: 100%;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0;
  width: 100%
}
h1{
  color: white;
}
#vamos{
background-color: #428f42;
color: white;
}
#caja{
  background-color: #cca776;
  box-shadow: 0px 10px 5px 0px #7e6443;;
  border-radius: 16px;
  width: 80%;
}
#pie{
  background-color: #cca776;
  box-shadow: 0px 10px 5px 0px #7e6443;;
  border-radius: 8px;
  width: 100%;
  position:fixed; bottom:0;
  text-align: center;
  color: whitesmoke;
  padding: 16px;
}
.amponH:hover{
  transform: scale(1.5);
  transition-duration: 600ms;
}
.amponH{
  transition-duration: 400ms;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
#imagePreview{
  border: 8px solid saddlebrown;
  border-radius: 8px;
}
#imageUpload{
  padding: 64px;
  border: 8px solid red;
  background-color: aliceblue;
  width: 0px;
  height: 0px;
}
form{
  padding-top: 300px;
}